.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    width: 75vw;
    height: 90vh;
    padding: 50px 0px;
    border-radius: 10px;
    overflow-x: auto;

    .header {
        display: flex;
        margin-bottom: 60px;
        width: 95%;
        border-bottom: 2px solid  #20494E;

        h1 {
            margin: 0 25px 15px 25px;
            font-size: 2.2em;
            color: #20494E;
        }
    }

    .account-content {
        display: flex;
        width: 100%;

        form {
            display: flex;
            flex-direction: row;
        }

        .input, .input-label {
            display: flex;
            flex-direction: column;
            justify-content: center;

            mat-form-field, h1 {
                margin: 0;
                height: 80px;
                margin-bottom: 20px;
            }

            mat-form-field {
                width: 400px;
            }

            h1 {
                font-size: 1.5em;
                text-align: end;
                margin: 0 20px 0 60px;
            }
        }

        .edit {
            display: flex;
            align-items: center;
            height: 55px;
            margin-left: 10px;
        }
    }
}