<div class="historic">
    <div class="header">
        <h1>Histórico</h1>
    </div>
    <div class="historic-list">
        <div class="historic-header" *ngIf="historicList.length != 0">
            <div class="historic-list-header-item">Tipo Simulação</div>
            <div class="historic-list-header-item">Valor Financiado</div>
            <div class="historic-list-header-item">N° de prestações</div>
            <div class="historic-list-header-item">Taxa</div>
            <div class="historic-list-header-item"></div>
        </div>
        <div class="historic-item" *ngFor="let historic of historicList">
            <div class="historic-item-content">{{historic?.typeFinanced}}</div>
            <div class="historic-item-content">R$ {{historic?.amountFinanced}}</div>
            <div class="historic-item-content">{{historic?.amountOfTimes}}</div>
            <div class="historic-item-content">{{historic?.tax}}%</div>
            <div class="historic-item-content" (click)="showSimulation(historic?.id)">
                <span class="material-symbols-outlined">visibility</span>
            </div>
        </div>
        <h1 class="msg-empty" *ngIf="historicList.length == 0">Tabela histórico não possui registros</h1>
    </div>
</div>