.historic {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    width: 75vw;
    height: 90vh;
    padding: 50px 0px;
    border-radius: 10px;
    overflow-x: auto;

    .msg-empty {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
    }

    .header {
        display: flex;
        margin-bottom: 50px;
        width: 90%;
        border-bottom: 2px solid  #20494E;

        h1 {
            margin: 0 25px 15px 25px;
            font-size: 2.2em;
            color: #20494E;
        }
    }

    .historic-list {
        width: 90%;
        color: #20494E;

        .historic-header {
            display: flex;
            width: 100%;
            
            .historic-list-header-item {
                display: flex;
                justify-content: center;
                
                font-weight: bold;
                font-size: 1.3em;
                width: 20%;
            }
        }

        .historic-item {
            display: flex;
            width: 100%;
            margin-top: 30px;
            border-radius: 10px;
            box-shadow: -3px 3px 10px #e3e3e3;

            .historic-item-content {
                display: flex;
                justify-content: center;
                font-size: 1.3em;
                width: 20%;
                padding: 10px 0;
            }
        }
    }
}