<div class="navbar">
    <header>
        <img class="logo" src="./../../../assets/imgs/icon.png" alt="">
        <p>IFINANCE</p>
    </header>
    <div class="navbar-content">
        <button class="navbar-content-item" (click)="changeStage(simulation)" [ngClass]="{'active': state  === 'simulation'}" [routerLink]="['/simulation']">
            <span class="material-symbols-outlined">calculate</span>
            Simular
        </button>
        <button class="navbar-content-item" (click)="changeStage(historic)" [ngClass]="{'active': state === 'historic'}" [routerLink]="['/historic']">
            <span class="material-symbols-outlined">history</span>
            Histórico
        </button>
        <button class="navbar-content-item" (click)="changeStage(forum)" [ngClass]="{'active': state === 'forum', 'expanded': showForumOptions}">
          <span class="material-symbols-outlined">forum</span>
          Fórum
      </button>
      <div class="forum-options" *ngIf="showForumOptions">
          <button class="navbar-content-item" [ngClass]="{'active': state === 'sac'}" [routerLink]="['/sac']">
              O que é SAC?
          </button>
          <button class="navbar-content-item" [ngClass]="{'active': state === 'price'}" [routerLink]="['/price']">
              O que é PRICE?
          </button>
      </div>
        <button class="navbar-content-item" (click)="changeStage(account)" [ngClass]="{'active': state === 'account'}" [routerLink]="['/account']">
            <span class="material-symbols-outlined">person</span>
            Conta
        </button>
        <button class="navbar-content-item" (click)="changeStage(help)" [ngClass]="{'active': state === 'help'}" [routerLink]="['/help']">
            <span class="material-symbols-outlined">help</span>
            Ajuda
        </button>
    </div>
</div>
