<div class="price">
  <div *ngIf="isOptionSelected('price')">
    <div class="explanation">
      <h2>Tabela Price</h2>
      <p class="text">Já na tabela Price, a principal característica é ter parcelas iguais durante todo o período de contratação.
        Isso significa, também, que o comprador não precisará arcar com altas prestações no começo do contrato.
        Pelo fato das prestações serem constantes do começo ao fim do contrato, o saldo devedor não diminui com tanta rapidez,
        fazendo com que o prazo de amortização da dívida seja maior.</p>
    </div>
    <div class="img">
      <img src="/src/assets/imgs/PRICE.png" alt="Tabela PRICE">
    </div>
  </div>
</div>
