.price {
  background: #ffffff;
  width: 75vw;
  height: 90vh;
  padding: 50px 0px;
  border-radius: 10px;

  .explanation {
    padding: 14px;

    .text {
      font-size: 20px;
    }
  }

  .img {
    display: flex;
    justify-content: center;
    padding: 14px;

    img {
      width: 350px;
    }
  }
}
