<div class="sac">
  <div>
    <div class="explanation">
      <h2>Tabela SAC</h2>
      <p class="text">Ao optar pelo Sistema de Amortização Constante (SAC),
        o devedor terá as parcelas do seu empréstimo contabilizadas de maneira que sejam uma constante decrescente.
        Ou seja, o valor da primeira parcela será maior do que a segunda e assim sucessivamente até a última parcela.
        O que ocorre é que há uma amortização mensal da dívida, que se dá pelo fato das taxas de juros serem incididas sobre o valor restante dessa mês a mês,
        e não apenas sobre o montante inicial.

        Dessa forma, pelo fato das taxas de juros incidirem sobre montantes cada vez menores,
        o devedor pagará uma parcela alta no primeiro mês, mas que irá diminuir no decorrer do tempo,
        em razão da diminuição do capital acrescido da taxa de juros.</p>
    </div>
    <div class="img">
      <img src="/src/assets/imgs/SAC.png" alt="Tabela SAC">
    </div>
  </div>
</div>
