.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 15vw;
    min-width: 300px;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px;

        .logo-content {
            display: flex;
            align-items: center;
            .logo {
                border-radius: 15px;
                width: 50px;
            }
    
            p {
                margin-left: 10px;
                color: #20494E;
                font-size: 1.5em;
                margin-bottom: 0;
            }
        }
        

        .logout-icon {
            color: #20494E;
            float: right;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }

            transition: var(--trans-2);
        }
    }

    .navbar-content {
        display: flex;
        flex-direction: column;
        width: 90%;

        .navbar-content-item {
            all: unset;
            display: flex;
            align-items: center;
            padding: 20px;
            color: var(--primary-color);
            border-radius: 10px;
            margin: 5px 0;
            
            span{
                margin-right: 10px;
            }

            &:hover {
                color: #f0f0f0;
                background-color: var(--primary-color);
                opacity: 0.8;
            }

            transition: var(--trans-2);
        }

        .active, .navbar-content-item:hover {
            color: #f0f0f0;
            background-color: var(--primary-color);
        }
    }
    
}