<div class="navbar">
    <header>
        <img class="logo" src="./../../../assets/imgs/icon.png" alt="">
        <p>IFINANCE</p>
    </header>
    <div class="navbar-content">
        <button class="navbar-content-item active" [routerLink]="['/simulation']">
            <span class="material-symbols-outlined">calculate</span>
            Simular
        </button>
        <button class="navbar-content-item" [routerLink]="['/historic']">
            <span class="material-symbols-outlined">history</span>
            Histórico
        </button>
        <button class="navbar-content-item" [routerLink]="['/forum']">
            <span class="material-symbols-outlined">forum</span>
            Fórum
        </button>
        <button class="navbar-content-item" [routerLink]="['/account']">
            <span class="material-symbols-outlined">person</span>
            Conta
        </button>
        <button class="navbar-content-item" [routerLink]="['/help']">
            <span class="material-symbols-outlined">help</span>
            Ajuda
        </button>
    </div>
</div>