<div class="navbar">
    <header>
        <img class="logo" src="./../../../assets/imgs/icon.png" alt="">
        <p>ISTUDENT</p>
    </header>
    <div class="navbar-content">
        <div class="navbar-content-item active">
            <span class="material-symbols-outlined">home</span>
            Dashboard
        </div>
        <div class="navbar-content-item">
            <span class="material-symbols-outlined">edit</span>
            Notas
        </div>
        <div class="navbar-content-item">
            <span class="material-symbols-outlined">description</span>
            Boletim
        </div>
        <div class="navbar-content-item">
            <span class="material-symbols-outlined">paid</span>
            Financeiro
        </div>
        <div class="navbar-content-item">
            <span class="material-symbols-outlined">help</span>
            Ajuda
        </div>
        <div class="navbar-content-item">
            <span class="material-symbols-outlined">settings</span>
            Configurações
        </div>
    </div>
</div>