<div class="navbar">
    <header>
        <div class="logo-content">
            <img class="logo" src="./../../../assets/imgs/icon.png" alt="">
            <p>IFINANCE</p>
        </div>
        <span class="material-symbols-outlined logout-icon" (click)="logout()">{{userId ? "logout" : "login" }}</span>
    </header>
    <div class="navbar-content">
        <button class="navbar-content-item" (click)="changeStage(simulation)" [ngClass]="{'active': state  === 'simulation'}" [routerLink]="['/simulation']">
            <span class="material-symbols-outlined">calculate</span>
            Simular
        </button>
        <button class="navbar-content-item" (click)="changeStage(historic)" [ngClass]="{'active': state === 'historic'}" [routerLink]="['/historic']" *ngIf="userId">
            <span class="material-symbols-outlined">history</span>
            Histórico
        </button>
        <button class="navbar-content-item" (click)="changeStage(forum)" [ngClass]="{'active': state === 'forum'}" [routerLink]="['/forum']">
            <span class="material-symbols-outlined">forum</span>
            Fórum
        </button>
        <button class="navbar-content-item" (click)="changeStage(account)" [ngClass]="{'active': state === 'account'}" [routerLink]="['/account']" *ngIf="userId">
            <span class="material-symbols-outlined">person</span>
            Conta
        </button>
    </div>
</div>