<header>
  <div class="po-row">
    <div class="img-wrapper">
      <img src="../../../assets/imgs/img-fundo.png" alt="Imagem de fundo com prédios">
    </div>
    <div class="banner">
      <img class="logo" src="../../../assets/imgs/logo.png" alt="Logo Ifinance">
      <div class="login">
        <div class="button" (click)="login()">
          <p>Entrar</p>
        </div>
        <div class="register">
          <p>Cadastre-se</p>
        </div>
        <div class="withoutAccount">
          <p>Acessar sem conta</p>
        </div>
      </div>
    </div>
  </div>
</header>
