<div class="home">
    <div class="left-content">
        <img class="store-logo" src="../../../assets/imgs/app-icon.png" alt="Store logo">
        <div class="marketing">
            <div class="slogan">
                <p>Simule seu empréstimo</p>
                <p>Rápido e Fácil</p>
            </div>
            <img src="../../../assets/imgs/happy-people.png" alt="Image with happy people throwing papers in the air">
        </div>
    </div>
    <div class="right-content">
        <div class="slogan">
            <p>Em busca de sua casa própria?</p>
            <p>Vem que a gente descomplica</p>
        </div>
        <div class="user">
            <button class="login-button">Entrar</button>
            <p>Cadastre-se</p>
            <p>ou</p>
            <div class="alternative-login">
                <img class="alternative-login-icons google" src="../../../assets/imgs/social-icons/google.png" alt="">
                <img class="alternative-login-icons facebook" src="../../../assets/imgs/social-icons/facebook.png" alt="">
            </div>
        </div>
    </div>
</div>