<div class="home-component po-row">
  <div class="decorate-content">
    <img class="background-image" src="../../../assets/imgs/img-fundo.png" alt="Imagem de fundo com prédios">
    <div class="logo">
      <img src="../../../assets/imgs/logo.png" alt="Logo Ifinance">
    </div>
  </div>
  <div class="authentication">
    <div class="form">
      <p class="titulo">Entrar:</p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Digite seu mail" value="" class="input-email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput placeholder="**********" value="" class="input-pass">
      </mat-form-field>
      <button mat-raised-button color="primary">Entrar</button>
      <button mat-button color="primary">Cadastre-se</button>
      <button mat-button color="primary">Entrar sem conta</button>
    </div>
  </div>
</div>
