<div class="simulation-view">
    <div class="header">
        <h1>Resultado da Simulação</h1>
    </div>
    <div class="result-content">
        <table>
            <tr>
                <th>N° Parcela</th>
                <th>Juros</th>
                <th>Prestação</th>
                <th>Amortização</th>
                <th>Saldo</th>
            </tr>
            <tr *ngFor="let parcel of simulationParcelList">
                <td>{{parcel?.parcelNumber}}°</td>
                <td>{{parcel?.interest | currency:'BRL'}}</td>
                <td>{{parcel?.installment | currency:'BRL'}}</td>
                <td>{{parcel?.amortization | currency:'BRL'}}</td>
                <td>{{parcel?.outstandingBalance | currency:'BRL'}}</td>
            </tr>
        </table>
    </div>
</div>
